@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.search-form {
  align-self: center;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  flex-basis: calc((100% - 3 * 10px) / 4);
  gap: 10px;
  display: block;
  border: 1px solid #eeeeee;
}

img {
  display: block;
}

.info {
  display: flex;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.load-more {
  margin: 10px;
}
